@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Nunito+Sans:wght@200&display=swap");

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #008080;
    color: #fdf2ec;
}
h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 18pt;
    line-height: 0.5em;
}
h2,
h3 {
    font-family: "Nunito Sans", sans-serif;
}
h2 {
    font-size: 30pt;
    line-height: 0em;
}
h3 {
    font-size: 14pt;
    line-height: 1.6em;
}
p {
    font-family: "Nunito Sans", serif;
    font-size: 12pt;
    font-weight: bold;
}
i {
    color: #fdf2ec;
}
.container {
    width: 60%;
    margin: auto;
}
.title {
    padding-top: 20px;
}
.main {
    padding-top: 10em;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline;
    padding-right: 20px;
}
a {
    text-decoration: none;
    color: #575757;
}

@media (max-width: 600px) {
    .container {
        width: 70%;
    }
    .main {
        padding-top: 8em;
    }
}
